[submodule "libsass"]
	path = libsass
	url = https://github.com/sass/libsass.git
[submodule "sassc"]
	path = sassc
	url = https://github.com/sass/sassc
[submodule "sass-spec"]
	path = sass-spec
	url = https://github.com/sass/sass-spec
